*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; 
}



body {
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif ;
    color: #777777;
}

.contain{
    background-color: #f3f1f1;
    margin: 25px;
}

.middle{
    width: 70%;
    margin: auto;
    justify-content: center;
}

/*showcase*/

header {
    height: 95vh;
    background-image: linear-gradient(to bottom, rgba(126, 213, 111, 0.911), rgba(40, 180, 133, 0.904)), url(img/showcase.jpg);
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    display: flex;
    
}

.showcase-text{
    width: 60%;
    margin: auto;
   justify-content: center;
   text-align: center;
   
}


.showcase-text h1{
   font-size: 70px;
   color: #fff;
}

.showcase-text p{
    font-size: 20px;
    line-height: 2em;
    color: #fff;
}

/*buttons*/
.btn{
    border: solid #eee;
}

.btn-big{
    padding: 10px 20px 10px 20px;
    font-size: 26px;
    width: 20%;
}

.btn-small{
    padding: 4px 14px 4px 14px;
}

.btn-curve{
    border-radius: 30px;
}

.btn-white{
    color: #777777;
    background: #fff;
}

.btn-white:hover{
    background: #d2d1d1;
    color: #777;
}


.btn-green{
    background:rgba(126, 213, 111);
    color: #fff;
}

.btn-green:hover{
    background:rgba(40, 180, 133);
    color: #fff;
}

/*background*/
#background{
    height: 65vh;
    display: flex;
}

#background h2{
    font-size: 35px;
    text-transform:uppercase ;
    font-weight: bolder;
}

#background p{
    font-size: 20px;

}

/*vision*/
#vision{
    background-image: linear-gradient(to top, rgba(126, 213, 111, 0.911), rgba(40, 180, 133, 0.904)), url(img/1684255699237.jpeg);
    background-size: cover;
    background-position: center;
    height: 95vh;
    clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0 100%);
    display: flex;

}

.vision-box{
    width: 60%;
    margin: auto;
   justify-content: center;
   text-align: center;
}

.vision-box h2{
    font-size: 35px;
    text-transform:uppercase ;
    font-weight: bolder;
    color: #fff;
}

.vision-box p{
    font-size: 23px;
    line-height: 2em;
    color: #fff;
}


/*SDGs*/
#newsletter{
    background: linear-gradient(rgb(126, 213, 111), rgb(40, 180, 133));
}



#newsletter .text-box{
    text-align: center;
    padding: 70px 10px 50px;
}

#newsletter .text-box h2{
    font-weight: bolder;
    padding-bottom: 15px;
    color: #fff;
}

input{
    
   padding: 5px 16px 5px 16px;
   border: solid 1px rgb(126, 213, 111);
}

#newsletter .img-box{
    width: 100%;
    text-align: center;
    

}

#newsletter img{
    width: 5%;
    margin-right: 3px;
    margin-top: 10px;
}

/* video */
#video{
    padding: 90px;
}

#video-text{
    padding-top: 100px;
}

#video-text p{
    text-align: left;
    font-size: 20px;
    padding-right: 10px;
}

#video-text h2{
    font-size: 60px;
    color: rgb(126, 213, 111);
    text-transform: uppercase;
}

#video video{
    width: 100%;
    margin-top: 10px;
}



/* footer */

#footer{
    text-align: center;
    padding: 2% 15%;

}

#footer i{
    padding: 10px;
     color: #777777;
}



